* {
    font-family: sans-serif;
    background-color: rgb(245,245,245);
}

h1 {
    font-size: 24px;
    color: #242424;
    font-weight: 900;
}

h2 {
    font-size: 20px;
    color: #606060;
    font-weight: 800;
}

p {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.province-list {
    border: 2px solid blue;
    margin-left: 100px;
    padding: 20px;
    font-family: monospace;
    font-size: 18px;
    max-width: 40%;
    list-style-type: none;
}

.province-list li {
    padding-bottom: 10px;
}
.province-list li:hover{
    background-color: rgb(0,0,0,0.1);
    
}

.province-list a {
    color: orange;
    text-decoration: underline;
}

a {
    font-weight: bold;
}



